
  <div class="text-center mt-3">
    <h2>Your Match - {{pagination?.totalItems}} founds. </h2>
  </div>
  <div class="container mt-3">
    <form class="form-inline mb-3" #form ="ngForm" (ngSubmit)="loadMembers()" autocomplete="off" style="display: flex;">

      <div  style="display: flex;">
        <div class="form-group">
          <label>Age from:</label>
          <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge" [(ngModel)]="userParams.minAge">
        </div>

        <div class="form-group ">
          <label>Age to:</label>
          <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge" [(ngModel)]="userParams.maxAge">
        </div>

        <div class="form-group ">
          <label> Show: </label>
          <select name="gender" class="form-control ms-1" [(ngModel)]="userParams.gender" style="width: 130px;" >
            <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
          </select>
        </div>
      </div>
        <div>
          <button class="btn btn-primary ms-1" type="submit">Apply Filter</button>
          <button (click)="resetFilters()" class="btn btn-info ms-1"> Reset Filters</button>
        </div>
        <div class="col">
          <div class="btn-group float-right">
            <button class="btn btn-primary ms-1"
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="lastActive"
            [(ngModel)]="userParams.orderBy">Last Active</button>
          </div>
          <div class="btn-group float-right">
            <button class="btn btn-primary ms-1"
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="created"
            [(ngModel)]="userParams.orderBy">New Member</button>
          </div>
        </div>

      </form>
    </div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)] = "pagination.currentPage"
      (pageChanged)="pageChange($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"s
        firstText = "&laquo;"
         lastText="&raquo;">
      </pagination>
</div>

